#route-list-box{
    width: 100%;
    margin: 0 auto;
    margin-top: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

.routes-title {
    font-size: 20pt;
    justify-content: center;
    align-items: center;
    width: 700px;
    margin: 0 auto;
    display: flex;
    color: white;
    margin-top: 15px;
    margin-bottom: 25px;
  }

#main-footer {
    color: #ccc;
    text-align: center;
    font-size: 0.8rem;
    max-width: 80%;
    padding-top: 5rem;
  }
  
#main-footer a {
    color: #f96816;
    text-decoration: underline;
  }

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    width: 100%;
  }
  
li {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

table, th, td {
    border: 1px solid white;
    border-collapse: collapse;
  }
  
th, td {
    padding: 15px;
    text-align: center;
  }
  
  


